{% extends 'base.html' %}

{% load humanize %}

{% block content %}




<div class="container">
    {% if empty %}

        <h1 style="text-align: center;">{{ empty_message }}</h1>

    {% else %}
    <div class="table-responsive-sm">
    <div class="py-4">
        <table class="table text-nowrap">
            <thead class="thead-light">
            <tr>
                <th scope="col">Products</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Remove</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart.cartitem_set.all%}
            <tr>
                <td>{{ item.product }}</td>
                <td>
                    <form action="{% url 'update_cart' item.id %}" method="POST">
                    {% csrf_token %}
                    <div class="col-5">
                        <div class="input-group flex-nowrap">
                            <input  name="qty" class="form-control" type="number" value="{{ item.quantity }}" min="1" >
                            <button type="submit" class="btn"><i class="fas fa-sync-alt"></i></button>
                        </div>
                    </div>
                    </form> 
                </td>
                <td>{{ item.product.price | intcomma }} €</td>
                <td><a href="{% url 'remove_from_cart' item.id %}"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td>Total Price ( <i>VAT not included</i> ): {{ cart.decimal_total | intcomma}} €</td>
                <td></td>
            </tr>
            
            </tbody>
        </table>
        <div class="col-4">
            <a href="{% url 'address' %}" class="btn btn-secondary btn-block">Checkout</a>
        </div> 
    </div>
    </div>
    {% endif %}
</div>


{% endblock %}