{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<br>
<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!-- Carousel -->
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="py-3">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="https://cdn.mos.cms.futurecdn.net/X5TyA8uvkGXoNyjFzxcowS.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="https://cnet2.cbsistatic.com/img/OKtxZ1f0evC6tgqdIEr3BnvUiKA=/1200x675/2017/02/22/d95e8518-beb0-45c3-aba1-d1122bf0663d/three-laptops-01.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="https://cdn.mos.cms.futurecdn.net/bXiQnGw7tFvBsEMtkqXKKE.jpg" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
        
</div>



<!-- Showcase -->
<section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Laptop Searching Just Got So Easy
          </h1>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel nostrum magnam
            voluptatum tempore! Consectetur, id commodi!</p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Description)">
                </div>

                <div class="col-md-4 mb-3">
                    <label class="sr-only">Screen Resolution</label>
                    <select name="screen_resolution" class="form-control">
                      <option selected="true" disabled="disabled">Screen Resolution (All)</option>
                      {% for key,value in screen_choices.items %}
                        <option value="{{ key }}">{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Cores</label>
                  <select name="cores" class="form-control">
                    <option selected="true" disabled="disabled">Cores (All)</option>
                    {% for key,value in cores_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Manufacturer</label>
                  <select name="manufacturer" class="form-control">
                    <option selected="true" disabled="disabled">Manufacturer (All)</option>
                    {% for key,value in manufacturer_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-4 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Max Price (Any)</option>
                    {% for key,value in price_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-4 mb-3">
                    <select name="ram" class="form-control" id="type">
                      <option selected="true" disabled="disabled">Ram (Any)</option>
                      {% for key,value in ram_choices.items %}
                        <option value="{{ key }}">{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Products -->
  <section id="listings" class="py-4">
    <div class="container">
      <h3 class="text-center mb-3">Bestsellers</h3>
      <div class="row">
        <!-- Product 1 -->
        {% if products %}
          {% for product in products %}
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img class="card-img-top" src="{{ product.photo_main.url }}" alt="">
                <div class="card-img-overlay">
                  <h2>
                    <span class="badge badge-secondary text-white">{{ product.price | intcomma }} €</span>
                  </h2>
                </div>
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{ product.title }}</h4>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-microchip"></i> {{ product.cpu }}
                    </div>
                    <div class="col-6">
                      <i class="fas fa-microchip"></i> Cores: {{ product.cores }}
                    </div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-microchip"></i> Threads: {{ product.threads }}</div>
                    <div class="col-6">
                      <i class="fas fa-hdd"></i> Storage: {{ product.storage }} Gb</div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-hdd"></i> Type: {{ product.storage_type }}</div>
                    <div class="col-6">
                      <i class="fas fa-laptop"></i> Size: {{ product.screen_size }}"</div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-laptop"></i> Screen: {{ product.screen_resolution }}p</div>
                    <div class="col-6">
                      <i class="fas fa-laptop"></i> Refresh: {{ product.refresh }} hz</div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-laptop"></i> Panel: {{ product.screen_panel }}</div>
                    <div class="col-6">
                      <i class="fas fa-memory"></i> RAM: {{ product.ram }} gb</div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-microchip"></i> GPU: {{ product.gpu }}</div>
                    <div class="col-6">
                      <i class="fas fa-memory"></i> GPU RAM: {{ product.gpu_ram }} gb</div>
                  </div>
                  
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-industry"></i> {{ product.manufacturer }}
                    </div>
                    <div class="col-6">
                      <i class="fas fa-euro-sign"></i> {{ product.price | intcomma }}
                    </div>
                  </div>
                  <hr>
                  <div class="row text-secondary pb-2">
                    <div class="col-12">
                        <a href="{% url 'product' product.id %}" class="btn btn-secondary btn-block">More Info</a>
                    </div> 
                      <div class="col-6 py-2">
                      <form action="{% url 'add_to_cart' product.id %}" method="POST">
                      {% csrf_token %}
                        <input class="form-control" name="qty" type="number" value="1" min="1" >
                      </div> 
                      <div class="col-6 py-2">
                        <input type="submit" class="btn btn-primary btn-block" value="Add to cart">
                      </div> 
                    </form>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p>Nothing to show</p>
        {% endif %}
      
      </div>
    </div>
  </section>

  <section id="services" class="py-4 bg-secondary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
        <hr>
          <h3>Contact</h3>
          <hr>
          <ul class="navbar-nav">
            <div class="py-3">
                <li><i class="fas fa-map-marker"></i> 772 Selby Street Garden City, NY 11530</li>
            </div> 
            <div class="py-3">
                <li><i class="fas fa-envelope-open"></i> contact@laptopuniverse.co</li>
            </div>  
            <div class="py-3">
                <li><i class="fas fa-phone"></i> (012)-12 34 567</li>
            </div>
          </ul>
        </div>

        <div class="col-md-4">
        <hr>
          <h3>Account</h3>
          <hr>
          <ul class="navbar-nav">
            <li class="nav-item">
                <div class="py-2">
                    <a class="nav-link text-light" href="{% url 'register' %}">
                        <i class="fas fa-user-plus"></i> Register
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div class="py-2">
                    <a class="nav-link text-light" href="{% url 'login' %}">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div class="py-2">
                    <a class="nav-link text-light" href="#">
                        <i class="fas fa-heart"></i> Favorite List
                    </a>
                </div>
            </li>
        </ul>
        </div>

        <div class="col-md-4">
        <hr>
          <h3>Hours You can find us</h3>
          <hr>
          <ul class="navbar-nav">
            <div class="py-3">
                <li>Monday & Wednesday: 09:00 - 18:00</li>
            </div>  
            <div class="py-3">
                <li>Tuesday, Thursday & Friday: 09:00 - 19:00</li>
            </div>
            <div class="py-3">
                <li>Sunday: 09:00 - 15:00</li>
            </div>
        </ul>
        </div>
      </div>
    </div>
  </section>


{% endblock %}