{% extends 'base.html' %}

{% load humanize %}

{% block content %}

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'products' %}">Products</a>
          </li>
          <li class="breadcrumb-item active">{{ laptop.title }}</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Product -->
  <section id="listing" class="py-4">
    <div class="container">
      <a href="{% url 'products' %}" class="btn btn-light mb-4">Back To Products</a>
      <div class="row">
        <div class="col-md-5">
          <!-- Home Main Image -->
          <img src="{{ laptop.photo_main.url }}" alt="" class="img-main img-fluid mb-3">
          <!-- Thumbnails -->
          <div class="row mb-5 thumbs">
            {% if laptop.photo_1 %}
            <div class="col-md-4">
              <a href="{{ laptop.photo_1.url }}" data-lightbox="home-images">
                <img src="{{ laptop.photo_1.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if laptop.photo_2 %}
            <div class="col-md-4">
              <a href="{{ laptop.photo_2.url }}" data-lightbox="home-images">
                <img src="{{ laptop.photo_2.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
            {% if laptop.photo_3 %}
            <div class="col-md-4">
              <a href="{{ laptop.photo_3.url }}" data-lightbox="home-images">
                <img src="{{ laptop.photo_3.url }}" alt="" class="img-fluid">
              </a>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="col-md-7">
          <div class="card mb-3">
            <div class="card-body text-center">
              <h1 class="card-title">{{ laptop.title }}</h1>
              <h2 class="text-secondary">Price: {{ laptop.price | intcomma }} €</h2>
              <h6>Product id: 1aq1DAS3213{{ laptop.product_id }}</h6>
            </div>
          </div>
          <form action="{% url 'add_to_cart' laptop.id %}" method="POST">
            {% csrf_token %}
            <div class="row mb-4">
              <div class="col-3">
                <div class="input-group">
                  <input class="form-control" name="qty" type="number" value="1" min="1" >
                </div>
              </div>  
              <div class="col-5">
                <input type="submit" class="btn btn-primary btn-block" value="Add to cart">
                <!-- <a href="#" class="btn btn-primary btn-block">Add to cart</a> -->
              </div> 
          </form>
              <div class="col-4">
                <a href="#" class="btn btn-danger btn-block"><i class="fas fa-heart"></i> Favourite</a>
              </div> 
            </div>
            <div class="py-5">
              <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Ask us anything</button>
            </div>
        </div>
       
      </div>
    </div>
  </section>

  <section>
    <div class="container">
       <!-- Description -->
       <div class="row mb-5">
        <div class="col-md-12">
          {{ laptop.description }}
        </div>
      </div>
       <!-- Fields -->
       <div class="row mb-5 fields">
        <div class="col-md-12">
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-secondary">
              <i class="fas fa-industry"></i> Manufacturer:
              <span class="float-right">{{ laptop.manufacturer }}</span>
            </li>
            <li class="list-group-item text-secondary">
              <i class="fab fa-windows"></i> OS:
              <span class="float-right">{{ laptop.operating_system }}</span>
            </li>
            <li class="list-group-item text-secondary">
              <i class="fas fa-microchip"></i> CPU: 
              <span class="float-right">{{ laptop.cpu }}</span>
            </li>
            <li class="list-group-item text-secondary">
              <i class="fas fa-microchip"></i> Cores:
              <span class="float-right">{{ laptop.cores }}</span>
            </li>
            <li class="list-group-item text-secondary">
              <i class="fas fa-microchip"></i> Threads:
              <span class="float-right">{{ laptop.threads }}
              </span>
            </li>
            <li class="list-group-item text-secondary">
              <i class="fas fa-hdd"></i> Storage:
              <span class="float-right">{{ laptop.storage }} Gb</span>
            </li>
            <li class="list-group-item text-secondary">
              <i class="fas fa-hdd"></i> Type:
              <span class="float-right">{{ laptop.storage_type }}
              </span>
            </li>
            <li class="list-group-item text-secondary">
              <i class="fas fa-laptop"></i> Size:
              <span class="float-right">{{ laptop.screen_size }}"</span>
            </li>
            <li class="list-group-item text-secondary">
              <i class="fas fa-laptop"></i> Screen:
              <span class="float-right">{{ laptop.screen_resolution }}p</span>
            </li>
            <li class="list-group-item text-secondary">
              <i class="fas fa-laptop"></i> Refresh:
              <span class="float-right">{{ laptop.refresh }} hz</span>
            </li>
            <li class="list-group-item text-secondary">
              <i class="fas fa-laptop"></i> Panel:
              <span class="float-right">{{ laptop.screen_panel }}</span>
            </li>
            <li class="list-group-item text-secondary">
              <i class="fas fa-memory"></i> RAM:
              <span class="float-right">{{ laptop.ram }} gb</span>
            </li>
            <li class="list-group-item text-secondary">
              <i class="fas fa-memory"></i> RAM:
              <span class="float-right">{{ laptop.ram_type }}</span>
            </li>
            <li class="list-group-item text-secondary">
              <i class="fas fa-microchip"></i> GPU:
              <span class="float-right">{{ laptop.gpu }}</span>
            </li>
            <li class="list-group-item text-secondary">
              <i class="fas fa-memory"></i> GPU RAM:
              <span class="float-right">{{ laptop.gpu_ram }} gb</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Ask us anything</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="product_name" class="col-form-label">Product:</label>
              <input type="text" name="product" class="form-control" value="{{ laptop.title }}" disabled>
            </div>
            <div class="form-group">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" name="name" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label">Phone:</label>
              <input type="text" name="phone" class="form-control">
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label">Message:</label>
              <textarea name="message" class="form-control"></textarea>
            </div>
            <hr>
            <input type="submit" value="Send" class="btn btn-block btn-secondary">
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}