{% extends 'base.html' %}


{% block content %}

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Browse Products</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Products -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {% if products %}
          {% for laptop in products %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img class="card-img-top" src="{{ laptop.photo_main.url }}" alt="">
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary text-white">{{laptop.price}} €</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{ laptop.title }}</h4>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-microchip"></i> {{ laptop.cpu }}
                  </div>
                  <div class="col-6">
                    <i class="fas fa-microchip"></i> Cores: {{ laptop.cores }}
                  </div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-microchip"></i> Threads: {{ laptop.threads }}</div>
                  <div class="col-6">
                    <i class="fas fa-hdd"></i> Storage: {{ laptop.storage }} Gb</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-hdd"></i> Type: {{ laptop.storage_type }}</div>
                  <div class="col-6">
                    <i class="fas fa-laptop"></i> Size: {{ laptop.screen_size }}"</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-laptop"></i> Screen: {{ laptop.screen_resolution }}p</div>
                  <div class="col-6">
                    <i class="fas fa-laptop"></i> Refresh: {{ laptop.refresh }} hz</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-laptop"></i> Panel: {{ laptop.screen_panel }}</div>
                  <div class="col-6">
                    <i class="fas fa-memory"></i> RAM: {{ laptop.ram }} gb</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-microchip"></i> GPU: {{ laptop.gpu }}</div>
                  <div class="col-6">
                    <i class="fas fa-memory"></i> GPU RAM: {{ laptop.gpu_ram }} gb</div>
                </div>
                
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-industry"></i> {{ laptop.manufacturer }}
                  </div>
                  <div class="col-6">
                    <i class="fas fa-euro-sign"></i> {{ laptop.price }}
                  </div>
                </div>
                <hr>
                <div class="row text-secondary pb-2">
                  <div class="col-12">
                      <a href="{% url 'product' laptop.id %}" class="btn btn-secondary btn-block">More Info</a>
                  </div> 
                    <div class="col-6 py-2">
                    <form action="{% url 'add_to_cart' laptop.id %}" method="POST">
                    {% csrf_token %}
                      <input class="form-control" name="qty" type="number" value="1" min="1" >
                    </div> 
                    <div class="col-6 py-2">
                      <input type="submit" class="btn btn-primary btn-block" value="Add to cart">
                    </div> 
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        {% else %}
          <p>No Laptops available at the moment</p>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#">&laquo;</a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">&raquo;</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

{% endblock %}