{% extends 'base.html' %}

{% block content %}


<section id="address" class="bg-light py-5">
    <div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header bg-primary text-white">
            <h4>
                <i class="far fa-address-card"></i> Address</h4>
            </div>
            <div class="card-body">
                <!-- Alerts -->
                {% include 'partials/_alerts.html' %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ address_form.as_p }}
                    </div>
                    <input type="submit" class="btn btn-secondary btn-block" value="Continue">
                </form>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>


{% endblock %}